.grid-container {
    margin: 10%;
    margin-left: 5%;
}

#square1{
    height: 150px;
    width: 150px;
    background-color: rgb(33, 242, 14);
}

#rect {
    height: 150px;
    width: 100px;
    background-color: rgb(242, 14, 14);
}

#square2{
    height: 200px; 
    width: 175px; 
    background-color: rgb(14, 14, 242);
}

#rectAfterMerge{
    height: 200px;
    width: 200px;
    display: grid;
    grid-template-areas:
    "rect squareSmall"
    "square1  rect";
    grid-template-rows: 50px 150px;
    grid-template-columns: 150px 50px;
    /* border: 1px solid black; */
}

#rectAfterMerge > .rectPart{
    background-color: rgb(242, 14, 14);
}

@keyframes slidein {
    from {
      margin-left: 0%;
    }
  
    to {
      margin-left: 200%;
    }
  }

#smallSquare {
    animation-name: slidein;
    animation-duration: 4s;
    margin-left: 200%;
    border: none;
}

.box {
    border: 3px solid #666;
    height: 150px;
    width: 150px;
    background-color: rgb(25, 242, 14);
    padding: 10px;
    cursor: move;
  }

.container1 {
    padding: 100px;
    padding-top: 0px;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 50px;
}

.box.over {
    border: 3px dotted #666;
  }

.operators{
    padding: 60px;
    width: 100px;
    height: 100px;
    text-align: calc(50px,50px);
}

.equation{
    display: flex;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: inherit;
    background-color: white;
    margin-left: 8px;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
  }
.input-cursor { 
  animation: blink .6s linear infinite alternate;
}
